body {
  background-color: #fdf1d3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body h3 {
  margin-left: 20px;
}

iframe {
  border: none;
  width: 100%;
  height: 90px;
}

#osnovno {
  text-align: left;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}

#osnovno img {
  max-width: 100%;
  height: auto;
}

#detalji {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}

#kolona1 {
  order: 1;
  flex: 1 1 auto;
  align-self: auto;
}

#kolona2 {
  order: 2;
  flex: 1 1 auto;
  align-self: auto;
}

#opis {
  order: 3;
  flex: 0 1 100%;
  align-self: auto;
}

#upiti {
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
  position: relative;
  min-height: 100px;
}

.upit {
  border: 1px solid #000;
  padding: 10px;
  margin: 0 40px; 
  background-color: white;
  width: calc(100% - 100px); 
}

#nazad, #naprijed {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: gray;
  color: white;
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 8px;
  z-index: 10;
  cursor: pointer;
}

#nazad {
  left: 10px;
}

#naprijed {
  right: 10px;
}

#nazad:hover, #naprijed:hover {
  background-color: black;
}

@media (max-width: 600px) {
  .upit {
      width: calc(100% - 80px);
      margin: 0 30px;
  }
}