body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    height: 90px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.icon-container {
    padding-top: 5px;
    display: block;
}

li img {
    width: 20px;
    height: 20px;
    transition: transform 1s ease;
}

li a:hover img {
    transform: scale(3.1); 
}

li a:hover .text {
    opacity: 0;
    transition: opacity 0.5s linear;
}

li a:hover a{
    color: #ff9900;
}


